.links-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  color: #181817;
}


.links-wrap > a:hover {
  color: #181817;
}

.auth__input {
  margin-top: 10px;
}
